.best-films__content {
  padding-top: 40px;
  width: 1312px;
  margin: 0;

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
  }
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
  }
}

.best-films__header {
  h2 {
    padding-top: 80px;
    padding-bottom: 30px;
    border-bottom: 1px solid #81becb;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #fff;
  }
}
